<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/pokemonPage.css" />
    <link rel="stylesheet" href="/navbar.css" />
    <link rel="stylesheet" href="/footer.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/png" href="/assets/favicon.png" />
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %>
    <main id="main-content">
      <% pokemons.forEach((pokemon) => { %>
      <a href="/pokemons/<%= pokemon.id %>" class="pokemon-link-card">
        <div class="card" style="background-color: '#f9f9f9'">
          <h2 class="card-heading"><%= pokemon.pokemon_name %></h2>
          <div class="info">
            <img
              src="<%= pokemon.image_path %>"
              alt="<%= pokemon.pokemon_name %>"
              class="pokemon-img"
            />
          </div>
        </div>
      </a>
      <% }); %>
    </main>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
